body {

background: transparent linear-gradient(180deg, #F1681A 0%, #FA4044 100%) 0% 0% no-repeat padding-box;
height: 100vh;
margin:0;
position: relative;
display: flex;
justify-content: center;
align-items: center;


}

main {

  height: 312px;
  width: 95%;
  /* max-width: 344px; */
  background-color: #fff;
  box-shadow: 0px 3px 10px #00000029;
  border-radius: 4px;
  margin-bottom: 32px;
}

#sticky {

  height: 10%;
  width: 100%;
  background-color: green;
  position: absolute;
  bottom: 0;
}
